.light {
  #AllEventComponent {
    .events {
      .desc {
        color: var(--graphite);
        .d1, .d2 {
          .icon {
            color: var(--graphite06);
          }
        }
      }
    }
  }
}

.dark {
  #AllEventComponent {
    .events {
      .desc {
        color: var(--light075);
        .d1, .d2 {
          .icon {
            color: var(--light075);
          }
        }
        }
    }
  
    
  }
}