#AllEventComponent {
  display: flex;
  flex-direction: column;
  gap: 2%;
  .events {
    display: grid;
    align-items: center;
    gap: 5%;
  
    .events_card {
      border-radius: 20px;
      overflow: hidden;
      transition: 0.2s;
      cursor: pointer;
      text-decoration: none;
      
      &:hover {
        transition: 0.4s;
        transform: scale(1.05);
      }
  
      .event_card_photo {
        position: relative;
        max-width: 100%;
        height: 300px;
        overflow: hidden;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        .overlay {
          position: absolute;
          top: 1%;
          right: 1%;
        }

        .product-thumb {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }
      }
    }
  
    .desc {
      padding: 10px;
      .d1, .d2 {
        align-items: center;
        .icon {
          font-size: 1.5rem;
        }
      }
      }
  }
}

@media screen and (min-width: 1025.1px){
  #AllEventComponent {
    .events {
      grid-template-columns: auto auto auto;
      width: 96%;
      margin: 5% auto 3% auto;
    }
  }
}
@media screen and (max-width: 1025px){
  #AllEventComponent {
    //border: 2px solid red;
    height: fit-content;
    //width: 1%;
    .events {
      grid-template-columns: auto auto;
      width: 96%;
      //border: 2px solid red;
      margin: 10% auto 10% auto;
    }
  }
}
@media screen and (max-width: 600px){
  #AllEventComponent {
    //border: 2px solid red;
    height: fit-content;
    //width: 1%;
    .events {
      grid-template-columns: auto;
      width: 96%;
      //border: 2px solid red;
      margin: 30% auto 30% auto;
    }
  }
}