.light {
    .eventFilter {
        #left, #right {
            color: var(--graphite06); 
        }
        #left:hover, #right:hover {
            color: var(--graphite); 
        }
        .carousel {

            .card {
                .icon {
                    color: var(--graphite06);
                }
                .icon:hover {
                    color: var(--graphite);
                }
                h4 {
                    color: var(--graphite);
                }
                .fakeTitle{
                    padding-top: 10%;
                    color: rgba(255, 255, 255, 0);
                    text-decoration: overline;
                    text-decoration-color: var( --graphite015);
                    text-decoration-thickness: 1em;
                    text-decoration-skip-ink: none;
                }
            }
        }
    }
}
.dark {
    .eventFilter {
        #left, #right {
        color: var(--light075);
        }
        #left:hover, #right:hover {
        color: var(--light);
        }
        .carousel {

            .card {
                .icon {
                    color: var(--ligh075);
                }
                .icon:hover {
                    color: var(--light);
                }
                h4 {
                    color: var(--light07);
                }
                .fakeTitle{
                    padding-top: 10%;
                    color: rgba(255, 255, 255, 0);
                    text-decoration: overline;
                    text-decoration-color: var(--light07);
                    text-decoration-thickness: 1em;
                    text-decoration-skip-ink: none;
                }
            }
                
            .card:hover {
                h4 {
                color: var(--light);
                }
            }
        }
    }
}