#eventCommentSelfComponent{
    width: 100%;
    display: flex;
    flex-direction: column;

    .content {
        form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .rest {
                display: flex;
                flex-direction: column;
                width: 25%;
            }
            .v-textarea {
                width: 90%;
                margin: auto;
                height: 100px;
            }
            .v-input__control, .v-field__input {
                height: 90px;
            }
        }
    }
}
@media screen and (min-width: 1025.1px) {
    #eventCommentSelfComponent{
        .content {
            form {
                .v-textarea {
                    width: 90%;
                }
            }
        }
    }
}
@media screen and (max-width: 1025px) {
    #eventCommentSelfComponent{
        .content {
            form {
                .v-textarea {
                    width: 100%;
                }
            }
        }
    }
}
.light {
    #eventCommentSelfComponent{
        .content {
            form {
                color: var(--graphite);
            }
        }
    }
}

.dark {
    #eventCommentSelfComponent{
        .content {
            form {
                color: var(--light-trans-text);
            }
        }
    }
}