#EventOverview{
    width: 100%;
    height: 85%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //overflow-x: hidden;
    //border-radius: 49% 51% 53% 47% / 43% 33% 67% 57% ;


    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        padding: 0% 10%;

        img {
            max-width: 50px;
            border-radius: 13px;
        }
    }
}
@media screen and (min-width: 1025.1px) {
    .h1 {
        margin-bottom: 8%; 
     }
}
@media screen and (max-width: 1025px) {
    .h1 {
        margin-bottom: 2%; 
     }
}
.light {
    #EventOverview{
        background: transparent;
        // box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.1), 15px 25px 10px rgba(0, 0, 0, 0.1),
        //         15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(237, 237, 237, 0.9); 
    
        .h1 { 
            color: var(--graphite);
        }
        p, h3 {
            color: var(--graphite06);
        }
    }
}
  
  
.dark {
    #EventOverview{
        background: transparent;
        // box-shadow: 5px 5px 10px #0008,
        //     10px 6px 15px #0008 inset,
        //     -5px -5px 8px #f5f5ff inset,
        //     10px 6px 15px #0004 inset;
    
        .h1 { 
            color: var(--light);
        }
        p, h3 {
            color: var(--light-trans-text);
        }
    }
}