.light {
    #EventComment {
        background-color: transparent;

        h1 {
            color: var(--graphite);
        }

        .comments-list {
            scrollbar-color: var(--graphite015) rgba(255, 255, 255, 0.06);
            background-color: transparent;
    
            .comments {
                background-color: transparent;
    
                .glas {
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(0px);
                    -webkit-backdrop-filter: blur(0px);
                    border: 1px solid rgba(255, 255, 255, 0);
    
                    .comment {
                        p:nth-child(1){
                            color: var(--graphite)
                        }
                    }
                    .commen {
                        p {
                            color: var(--graphite08)
                        }
                    }
                }
            }
        }
        p {
            color: var(--graphite08)
        }
    }
}
  
  
.dark {
    #EventComment {
        background-color: transparent;
        h1 {
            color: var(--light);
        }
        
        .comments-list {
            scrollbar-color: var(--light075) rgba(255, 255, 255, 0.06);
            background-color: transparent;
    
            .comments {
                background-color: transparent;
    
                .glas {
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(0px);
                    -webkit-backdrop-filter: blur(0px);
                    border: 1px solid rgba(255, 255, 255, 0);

                    .comment {
                        p:nth-child(1){
                            color: var(--light)
                        }
                    }
                    .commen {
                        p {
                            color: var(--light075)
                        }
                    }
                }
            }
        }
        p {
            color: var(--light075)
        }
    }
}