#footerComponent {
    border-top: 2px solid rgba(0, 0, 0, 0.439);
    .links {
        padding-top: 1%;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 5%;

        a {
            text-decoration: none;
            color: black;
            font-size: 1rem;
            font-weight: normal;
        }
        a:after {
            text-decoration: none;
            color: black;
        }
        .router-link-exact-active, a:hover{
            color: white;
        }
    }

    h1 {
        font-size: 1rem;
    }
}
@media screen and (min-width: 1025px) {
    .links {
        justify-content: center;
    }
}

@media screen and (max-width: 1025px) {
    .links {
        justify-content: space-around;
    }
}