#menuComponent {
    display: block;
    /* From https://css.glass */
    //border-radius: 16px;
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(15px);

    .allMenu {
        /*#LogoComponent {
            text-decoration: none;
            img {
                padding-top: 5%;
            }

            img:hover {
                cursor: pointer;
            }
        }*/

        .links {
    
            a {
                text-decoration: none;
                font-weight: bold;
            }
            a:after {
                text-decoration: none;
            }
        }
        .icons {

            .profile {
                text-decoration: none;
            }
        }
    }
    
    .BurgerMenu {
        input {
            display: none;
        }
    }
    /* Classes de transition */
    .slide-enter-active, .slide-leave-active {
        transition: transform 0.3s ease-in-out;
    }

    .slide-enter-from {
        transform: translateX(-100%); /* Hors de l'écran au début de l'entrée */
    }

    .slide-enter-to {
        transform: translateX(0); /* Dans l'écran à la fin de l'entrée */
    }

    .slide-leave-from {
        transform: translateX(0); /* À l'écran au début de la sortie */
    }

    .slide-leave-to {
        transform: translateX(-100%); /* Hors de l'écran à la fin de la sortie */
    }
}

@media screen and (min-width: 1025px) {
    .allMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 75%;
        margin: auto;

        .smallMenu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            height: 100%;
            width: 100%;
        }

        #logo2Component {
            width: 10%;
            height: 65px;
        }

        .links {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: right;
            padding-right: 10%;
            gap: 5%;
    
            a {
                font-size: 1.5rem;
            }
        }
        .icons {
            width: 10%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .v-icon {
                font-size: 2.4rem;
            }
        }
        .burgerLinks, .iconClose {
            display: none;
        }
    }
    
    .BurgerMenu {
        display: none;
    }
    .light {
        #menuComponent{
            background: rgba(29, 30, 24, 0.23);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            .allMenu {
        
                .links {
            
                    a {
                        color: var(--graphite);
                    }
                    a:hover, .router-link-exact-active {
                        color: var(--light);
                    }
                }
                .profile {
                    color: var(--graphite);
                }
                .icons {
                    color: var(--graphite);
                }
                .icons .icon:hover, .profile:hover, .router-link-exact-active {
                    color: var(--light);
                }
            }
        }
    }
    .dark {
        #menuComponent{
            background: rgba(29, 30, 24, 0.23);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            .allMenu {
        
                .links {
            
                    a {
                        //color: var(--light-text);
                        color: var(--light-trans-text);
                    }
                }
                .profile {
                    color: var(--light-trans-text);
                }
                .icons {
                    color: var(--light-trans-text);
                }
            }
        }
    }
}
@media screen and (max-width: 1025px) {
    .BurgerMenu {
        display: block;
        width: 100%;
        text-align: right;
        z-index: 100000;
        .v-icon {
            font-size: 4rem;
        }
    }

    .allMenu {
        display: none;

        #LogoComponent {
            display: none;
        }

        .links {
            display: none;
        }
        .icons {
            display: none;
        }
    }
    .burgerLinks {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: 100%;
        position: fixed;
        top: 0%;
        height: 100svh;
        padding: 0% 0% 0% 0%;
        margin: 0px;
        //background-color: rgba(255, 0, 0, 0);


        .smallMenu {
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            width: 90%;
            //border-radius: 16px;
            
            //position: fixed;
            //top: 101%;
            height: 100%;
            //padding-top: 10%;
        }
        .iconClose {
            font-size: 3rem;
            align-self: flex-end;
            margin: 8% 0% 0% 0%;
        }
        
        .iconClose:hover {
            color: var(--light);       
            animation: neonGlowLess 0.5s ease-in-out infinite alternate;  
        }
        #logo2Component {
            width: 60%;
            height: 45%;
            margin: auto;

            .drop, .drop:hover {
                cursor: initial;
                p {
                    font-size: 3rem;
                    color: var(--light-trans-text);       
                    animation: neonGlowLess 0.5s ease-in-out infinite alternate;   
                }
            }
        }

        .links {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 5%;

            a {
                font-size: 3rem;
                color: var(--light-trans-text);
            }
            a:hover, .router-link-exact-active {
                color: var(--light);       
                animation: neonGlowLess 0.5s ease-in-out infinite alternate;  
            }
        }
        .icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-self: flex-end;

            .v-icon {
                font-size: 4rem;
                color: var(--light-trans-text);
            }
            .v-icon:hover, .router-link-exact-active {
                color: var(--light);       
                animation: neonGlowLess 0.5s ease-in-out infinite alternate;  
            }
        }
    }

    .light {
        .burgerLinks .smallMenu, .BurgerMenu {
            /* From https://css.glass */
            background: rgba(30, 24, 24, 0.9);
            //border-radius: 16px;
            //box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(18.9px);
            -webkit-backdrop-filter: blur(18.9px);
        }
        .burgerLinks {
            .iconClose {
                color: var(--light-trans-text); 
            }
            
            .iconClose:hover {
                color: var(--light);       
            }
            #logo2Component {
                .drop, .drop:hover {
                        color: var(--light-trans-text);        
                    }
                }
        }
    
        .links {
    
            a {
                color: var(--light-trans-text);
            }
            a:hover, .router-link-exact-active {
                color: var(--light);
            }
        }
        .icons {
            .v-icon {
                color: var(--light-trans-text);
            }
            .v-icon:hover, .router-link-exact-active {
                color: var(--light);
            }
        }
    }

    .dark {    
        .burgerLinks .smallMenu, .BurgerMenu {
            background: rgba(29, 30, 24, 0.23);
            backdrop-filter: blur(18.9px);
            -webkit-backdrop-filter: blur(18.9px);
        }
        .burgerLinks {
            .iconClose {
                color: var(--light-trans-text); 
            }
            
            .iconClose:hover {
                color: var(--light);       
            }
            #logo2Component {
                .drop, .drop:hover {
                        color: var(--light-trans-text);        
                    }
                }
        }
    
        .links {
    
            a {
                color: var(--light-trans-text);
            }
            a:hover, .router-link-exact-active {
                color: var(--light);
            }
        }
        .icons {
            .v-icon {
                color: var(--light-trans-text);
            }
            .v-icon:hover, .router-link-exact-active {
                color: var(--light);
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .burgerLinks {
        //top: 90%;
        //height: 94svh;
        padding-top: 13%;
        #LogoComponent {
            font-size: 35px;
        }
        .links {
            a {
                font-size: 4rem;
            }
        }
        .icons {
            .v-icon {
                font-size: 5rem;
            }
        }
        #logo2Component {
            width: 90%;
            height: 50%;
        }
    } 
}

@media screen and (max-width: 550px) and (min-width: 500px) {
    .burgerLinks {
        //top: 90%;
        //height: 94svh;
        padding-top: 10%;
        #LogoComponent {
            font-size: 45px;
        }
        .links {
            a {
                font-size: 4rem;
            }
        }
        .icons {
            .v-icon {
                font-size: 5rem;
            }
        }
    } 
}