#menuComponent {
    border: 2px solid rgb(255, 0, 0);
    display: block;

    .allMenu {
        .logo {
            text-decoration: none;
            border: 2px solid black;
            img {
                padding-top: 5%;
                border: 2px solid rgb(21, 99, 226);
            }

            img:hover {
                cursor: pointer;
            }
        }

        .links {
            border: 2px solid black;
    
            a {
                text-decoration: none;
                font-weight: bold;
            }
            a:after {
                text-decoration: none;
            }
        }
        .icons {
            border: 2px solid black;

            .profile {
                text-decoration: none;
            }
        }
    }
    
    .BurgerMenu {
        border: 2px solid black;
        input {
            display: none;
        }
    }
}
@media screen and (min-width: 1025px) {
    .allMenu {
        border: 2px solid white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        height: 100%;
        width: 75%;

        .logo {
            width: 10%;
            img {
                width: 60%;
            }
        }

        .links {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: right;
            padding-right: 10%;
            gap: 5%;
    
            a {
                font-size: 1.5rem;
            }
        }
        .icons {
            width: 10%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .v-icon {
                font-size: 2.4rem;
            }
        }
        .burgerLinks {
            display: none;
        }
    }
    
    .BurgerMenu {
        display: none;
    }
}
@media screen and (max-width: 1025px) {
    
    .BurgerMenu {
        display: block;
        width: 100%;
        text-align: right;
        .v-icon {
            font-size: 5rem;
        }
    }

    .allMenu {
        display: none;

        .logo {
            display: none;
        }

        .links {
            display: none;
        }
        .icons {
            display: none;
        }
    }
    .burgerLinks {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        width: 90%;
        position: fixed;
        top: 101%;
        height: 92.5svh;
        padding-top: 2%;

        .iconClose {
            font-size: 3rem;
            align-self: flex-end;
            margin-bottom: 8%;
        }
        .logo {
            display: block;
            width: 100%;

            img {
                width: 40%;
            }
        }

        .links {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 5%;

            a {
                font-size: 3rem;
            }
        }
        .icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-self: flex-end;

            .v-icon {
                font-size: 4rem;
            }
        }
    } 
}

@media screen and (max-width: 770px) {
    .burgerLinks {
        height: 92.5svh;
        .links {
            a {
                font-size: 4rem;
            }
        }
        .icons {
            .v-icon {
                font-size: 5rem;
            }
        }
    } 
}