#menuComponent {
    border: 2px solid rgb(255, 0, 0);
    display: block;

    .allMenu {
        width: 75%;
        border: 2px solid white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        height: 100%;

        .logo {
            width: 10%;
            text-decoration: none;
            color: white;
            border: 2px solid black;
            img {
                width: 60%;
                padding-top: 5%;
                border: 2px solid rgb(21, 99, 226);
            }
        }

        .links {
            border: 2px solid black;
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: right;
            padding-right: 10%;
            gap: 5%;
    
            a {
                text-decoration: none;
                color: black;
                font-size: 1.5rem;
                font-weight: bold;
            }
            a:hover {
                color: white;
            }
            a:after {
                text-decoration: none;
                color: black;
            }
            .router-link-exact-active {
                background-color: rgba(255, 255, 255, 0.4);
                color: white;
            }
        }
        .icons {
            width: 10%;
            border: 2px solid black;

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .profile {
                text-decoration: none;
                color: white;
            }
            .router-link-exact-active {
                background-color: rgba(255, 255, 255, 0.4);
                color: white;
            }
            .v-icon {
                font-size: 2.4rem;
            }
        }
    }
}