* {
    margin: 0px;
    padding: 0px;;
}
:root {
    --graphite: rgb(29, 30, 24);
    --graphite0: rgba(29, 30, 24, 0);
    --graphite015: rgba(29, 30, 24, 0.15);
    --graphite02: rgba(29, 30, 24, 0.2);
    --graphite06: rgba(29, 30, 24, 0.6);
    --graphite08: rgba(29, 30, 24, 0.8);
    --mainColor: rgba(228,45,45);
    --light: rgb(255, 255, 255);
    --light0: rgba(255, 255, 255, 0);
    --light05: rgba(255, 255, 255, 0.5);
    --dark: rgb(0, 0, 0);
    --light-trans-glow: rgba(255, 255, 255, 0.400);
    --light-trans015: rgba(255, 255, 255, 0.15);
    --light-trans-glow-less: rgba(255, 255, 255, 0.200);
    --light-trans-2Shine: rgba(255, 255, 255, 0.500);
    --light-trans-text: rgba(255, 255, 255, 0.750);
    --light-text: rgba(255, 255, 255, 0.7);
}
.v-main {
    min-height: 100svh;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #menuComponent, #footerComponent {
        text-align: center;
    }

    .view {
        flex-grow: 1;
        text-align: center;
        margin-top: -64px;
        //background: linear-gradient(to bottom, var(--light-trans-glow-less), var(--light-trans-text));
    }
    .glass {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.06);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border: 1px solid rgba(255, 255, 255, 0);
    }
    .glass2, .glass3 {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        //border: 1px solid rgba(255, 255, 255, 0);
    }
    .glass5 {
        /* From https://css.glass */
        background: rgba(0, 0, 0, 0.23);
        //border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.7px);
        -webkit-backdrop-filter: blur(4.7px);
    }
    .glass3:hover {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        //border: 1px solid rgba(255, 255, 255, 0);
    }
    .glass4 {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.62);
        //border-radius: 0px;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border: 1px solid rgba(255, 255, 255, 0);
    }
    .glow:hover, .justGlow {
        color: var(--light);       
        animation: neonGlow 0.5s ease-in-out infinite alternate;
    }
    .glowLess:hover, .justGlowless {
        color: var(--light);
        animation: neonGlowLess 0.5s ease-in-out infinite alternate;      
        
    }
    .glowBox, .justGlowBox {
        color: var(--light);       
        animation: neonGlowBox 0.5s ease-in-out infinite alternate;
    }

    @keyframes neonGlow {
        from {
            text-shadow:
            0 0 1.5px var(--light-trans-glow),
            0 0 2.5px var(--light-trans-glow),
            0 0 5px var(--light-trans-glow),
            0 0 10px var(--light-trans-glow),
            0 0 20px var(--light-trans-glow),
            0 0 25px var(--light-trans-glow),
            0 0 30px var(--light-trans-glow),
            0 0 33px var(--light-trans-glow);
        }
    
        to {
            text-shadow:
                0 0 2.5px var(--light-trans-glow),
                0 0 4px var(--light-trans-glow),
                0 0 8px var(--light-trans-glow),
                0 0 15px var(--light-trans-glow),
                0 0 30px var(--light-trans-glow),
                0 0 33px var(--light-trans-glow),
                0 0 45px var(--light-trans-glow),
                0 0 60px var(--light-trans-glow);
        }
    }

    @keyframes neonGlowLess {
        from {
            text-shadow:
            0 0 1.5px var(--light-trans-glow-less),
            0 0 2.5px var(--light-trans-glow-less),
            0 0 5px var(--light-trans-glow-less),
            0 0 10px var(--light-trans-glow-less),
            0 0 20px var(--light-trans-glow-less),
            0 0 25px var(--light-trans-glow-less),
            0 0 30px var(--light-trans-glow-less),
            0 0 33px var(--light-trans-glow-less);
        }
    
        to {
            text-shadow:
                0 0 2.5px var(--light-trans-glow-less),
                0 0 4px var(--light-trans-glow-less),
                0 0 8px var(--light-trans-glow-less),
                0 0 15px var(--light-trans-glow-less),
                0 0 30px var(--light-trans-glow-less),
                0 0 33px var(--light-trans-glow-less),
                0 0 45px var(--light-trans-glow-less),
                0 0 60px var(--light-trans-glow-less);
        }
    }
    @keyframes neonGlowBox {
        from {
            box-shadow:
            0 0 1.5px var(--light-trans-glow),
            0 0 2.5px var(--light-trans-glow),
            0 0 5px var(--light-trans-glow),
            0 0 10px var(--light-trans-glow),
            0 0 20px var(--light-trans-glow),
            0 0 25px var(--light-trans-glow),
            0 0 30px var(--light-trans-glow),
            0 0 33px var(--light-trans-glow);
        }
    
        to {
            box-shadow:
                0 0 2.5px var(--light-trans-glow),
                0 0 4px var(--light-trans-glow),
                0 0 8px var(--light-trans-glow),
                0 0 15px var(--light-trans-glow),
                0 0 30px var(--light-trans-glow),
                0 0 33px var(--light-trans-glow),
                0 0 45px var(--light-trans-glow),
                0 0 60px var(--light-trans-glow);
        }
    }
    @keyframes neonGlowBoxless {
        from {
            box-shadow:
            0 0 0.75px var(--light-trans-glow),
            0 0 1.25px var(--light-trans-glow),
            0 0 2.5px var(--light-trans-glow),
            0 0 5px var(--light-trans-glow),
            0 0 10px var(--light-trans-glow),
            0 0 12px var(--light-trans-glow),
            0 0 15px var(--light-trans-glow),
            0 0 16px var(--light-trans-glow);
        }
    
        to {
            box-shadow:
                0 0 1.25px var(--light-trans-glow),
                0 0 2px var(--light-trans-glow),
                0 0 8px var(--light-trans-glow),
                0 0 7px var(--light-trans-glow),
                0 0 15px var(--light-trans-glow),
                0 0 16px var(--light-trans-glow),
                0 0 23px var(--light-trans-glow),
                0 0 30px var(--light-trans-glow);
        }
    }
    @keyframes neonLogo {
        0% {
            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(80%) contrast(60%) drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff);;
        }
        100% {
            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(80%) contrast(60%)  drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff) drop-shadow(0 0 30px #fff)
        }
    }
}
.light{
    background: linear-gradient(to bottom, #efefef, #ccc);
}

.dark {
    background: linear-gradient(to bottom, rgb(69, 70, 60), rgb(29, 30, 24));
}