* {
    margin: 0px;
    padding: 0px;;
}

.v-main {
    border: 2px solid rgb(13, 0, 255);
    min-height: 100svh;
    background-color: white;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;

    #menuComponent, #footerComponent {
        background-color: rgb(255, 0, 0);
        text-align: center;
    }
    .view {
        flex: 1;
        text-align: center;
    }
}