#eventView {
    .viewContent {
        width: 75%;
        margin: 8% auto 0% auto;
        display: flex;
        padding: 0% 1%;
        flex-direction: column;
        border-radius: 16px;

        #singleEventComponent{
            margin-bottom: 5%;
        }
        .suite {
            display: flex;
            flex-direction: row;
            //height: 100%;
            .sub {
                width: 40%;
                height: 100%;
                //margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 5%;
                #EventOverview {
                    align-self: center;
                    //border: 2px solid red;
                }
                #eventCommentSelfComponent{
                    margin-top: 8%;
                }
            }
            // #eventCommentSelfComponent {
            //     width: 100%;
            //     margin: 2% auto 0% auto;
            // }
            #EventComment {
                width: 60%;
    
            }
        }

    }

    #EventMap {
        width: 75%;
        margin: 2% auto;
        padding: 0px;
    }
}