#eventCommentSelfComponent{
    width: 100%;
    display: flex;
    flex-direction: column;

    .content {
        form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            .rest {
                display: flex;
                flex-direction: column;
                width: 25%;
            }
            .v-textarea {
                width: 75%;
            }
        }
    }
}
.light {
    #eventCommentSelfComponent{
        .content {
            form {
                color: var(--graphite);
            }
        }
    }
}

.dark {
    #eventCommentSelfComponent{
        .content {
            form {
                color: var(--light-trans-text);
            }
        }
    }
}