#singleEventComponent{
  padding-top: 4%;
  width: 100%;
  margin: auto;
  
  .place-overview {
    width: 100%;
    border-radius: 16px;

    .header {
        text-align: center;
        margin-bottom: 2%;

      &__title {
        font-size: 2.5rem;
      }
    }

    .overview {
      display: flex;
      flex-direction: column;
      justify-content: center;
    
      &__image img {
        width: 100%;
        border-radius: 8px;
      }
    
      &__details {
        padding-top: 20px;
    
        &__description {
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.light {
  #singleEventComponent{
    .place-overview {
      // box-shadow: 0 15px 30px rgba(0, 0, 0, .2),
      // 0 10px 10px rgba(0, 0, 0, .2);
  
      .header {
          //color: var(--graphite06);
  
        &__title {
          color: var(--graphite);
        }
      }
  
      .overview {
        &__details {
          color: var(--graphite06);
      
          &__description {
            color: var(--graphite06);
          }
        }
      }
    }
  }  
}


.dark {
  #singleEventComponent{
    .place-overview {
      // box-shadow: 0 15px 30px rgba(255, 255, 255, 0.2),
      // 0 10px 10px rgba(255, 255, 255, 0.2);
  
      .header {
          //color: var(--light-trans-text);
  
        &__title {
          color: var(--light);
        }
      }
  
      .overview {
        &__details {
          color: var(--light-trans-text);
      
          &__description {
            color: var(--light-trans-text);
          }
        }
      }
    }
  } 
}

@media screen and (max-width: 1025px) {

  #singleEventComponent{
    
    .place-overview {
      width: 100%;
      border-radius: 16px;
  
      .overview {
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        &__image img {
          width: 100%;
          border-radius: 8px;
        }
      
        &__details {
          padding-top: 20px;
      
          &__description {
            font-size: 1.2rem;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
