#newEventComponent {
    width: 75%;
    height: 20%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .swiper {
        width: 30%;
        height: 90%;
        padding: 1% 5%;
      
        .swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 18px;
          font-size: 22px;
          font-weight: bold;
          color: #fff;
        }
    } 
    .contentt {
        flex: 1;
        padding: 2% 2%;
        height: 90%;

        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
            color: black;
        }
    }
}



