#singleNewEventComponent {
    border: 2px solid rgb(255, 0, 0);
    width: 100%;
    position: relative;
    
    img {
        width: 100%;
    }
    p {
        display: none;
        position: absolute;
        text-align: center;
        top: 10%;
    }

    img:hover ~ p {
        display: block;
    }
}