@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#eventFilterComponent {
    
    margin: 0vh 15vh 0vh 15vh;
    
    .search-container {
        display: flex;
        align-items: center;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 33px;
        padding: 5px 10px;
        max-width: 800px;
        
        .search-icon {
            color: #1a1919;
            font-size: 20px;
            margin-right: 10px;
        }

        .search-bar {
            border: none;
            background: transparent;
            outline: none;
            font-size: 16px;
            width: 100%;
      
            &::placeholder {
                color: #000000;
            }
        }
    }

    img {
        width: 90px;
        //border-style: solid;
        border-radius: 55px;
        padding: 10px;
    }

    .categories {
        border-style:none;
        
        
        text-align: left;
        
        margin: 1em 0; // Changed margin to prevent the element from being pushed too far down

        &_horizontal {
            display: flex;
            justify-content: space-between; // Adjust for better layout
            align-items: center; // Align vertically
            padding: 10px 0;
        }

        #container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto; // Adjusted height
            margin-top: 0px;
           
           
        }

        #slider-container {
            position: relative;
            overflow: hidden;
            width: 185vh;
            max-width: 1600px;
            height: 300px;
            padding: 20px;
            display: flex;
            align-items: center;
            transition: transform 0.3s ease-in-out; 
          
            .btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;

                border-left: 8px solid #696969;
                border-top: 8px solid #696969;
                padding: 5px;
                margin-left: 10px;
                cursor: pointer;

                &:hover {
                    transform: scale(1.2) translateY(-50%);
                }

                &.inactive {
                    border-color: #282828;
                    opacity: 0.5;
                    cursor: not-allowed;
                }

                &:first-of-type {
                    transform: rotate(-45deg) translateY(-50%);
                    left: 10px;
                }

                &:last-of-type {
                    transform: rotate(135deg) translateY(-50%);
                    right: 10px;
                }
            }

            .listeCategories {
                display: flex;
                transition: margin-left 0.5s ease;
                
                
                .listeCategories_objet {
                    background-color: transparent;
                    border-radius: 5px;
                    
                    
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    transition: transform 0.2s ease-in;
                    min-width: 200px; 
                    margin: 0 10px;

                    


                    img {
                        max-width: 100%;
                        height: auto;
                        transition: transform 0.3s ease;
                        border-style: none;
                        outline: none;
                    
                        filter: invert(35%) sepia(36%) saturate(7009%) hue-rotate(2deg) brightness(104%) contrast(88%);

                        &:hover {
                            transform: scale(1.1);
                            img {
                                transform: scale(1.2);
                            }
                        }
                    }

                  

                    &.filter-green img {
                        filter: invert(35%) sepia(36%) saturate(7009%) hue-rotate(2deg) brightness(104%) contrast(88%);
                    }

                   
                }

                
            }
        }

        @media only screen and (min-width: 1100px) {
            #slider-container .listeCategories .listeCategories_objet {
                width: calc(2.5% - 20px);
            }
        }

        @media only screen and (max-width: 1100px) {
            #slider-container .listeCategories .listeCategories_objet {
                width: calc(3.3333333% - 20px);
            }
        }

        @media only screen and (max-width: 900px) {
            #slider-container .listeCategories .listeCategories_objet {
                width: calc(5% - 20px);
            }
        }

        @media only screen and (max-width: 550px) {
            #slider-container .listeCategories .listeCategories_obj {
            }
        }
    }
}    