.eventFilter {
    //max-width: 1100px;
    //width: 80%;
    //height: 400px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    #left, #right {
        //position: absolute;
        //top: 20%;
        margin-top: -1%;
        font-size: 50px;
        font-weight: bolder;
        cursor: pointer;
        font-family: monospace;
    }
    #left {
        left: -3%;
    }
    #right {
        right: -3%;
    }
    .carousel {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: calc((100% / 6) - 12px);
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: 16px;
      border-radius: 8px;
      scroll-behavior: smooth;
      scrollbar-width: none;
      height: 100%;
      overflow-y: hidden;
      padding-top: 2%;
  
      .card {
          scroll-snap-align: start;
          list-style: none;
          //background: #fff;
          cursor: pointer;
          //padding-bottom: 15px;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
  
  
          .icon {
            font-size: 3rem;
          }
          h4 {
            font-weight: normal;
              font-size: 0.8rem;
          }
        }
    }
  }
  .light {
    .eventFilter {
      #left, #right {
          color: var(--graphite06); 
      }
      #left:hover, #right:hover {
          color: var(--graphite); 
      }
      .carousel {
    
        .card {
            .icon {
              color: var(--graphite06);
            }
            .icon:hover {
              color: var(--graphite);
            }
            h4 {
              color: var(--graphite);
            }
          }
      }
    }
  }
  .dark {
    .eventFilter {
      #left, #right {
        color: var(--light-trans-text);
      }
      #left:hover, #right:hover {
        color: var(--light);
      }
      .carousel {
    
        .card {
            .icon {
              color: var(--light-trans-text);
            }
            .icon:hover {
              color: var(--light);
            }
            h4 {
              color: var(--light-text);
            }
          }
          
        .card:hover {
          h4 {
            color: var(--light);
          }
        }
      }
    }
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 900px) {
    .eventFilter .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .eventFilter .carousel {
      grid-auto-columns: 100%;
    }
  }
  