#eventView {
    display: flex;
    flex-wrap: wrap;
    border-style: dotted;
    
    
    .sub {
        width: 75%;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    #EventMap {
        width: 75%;
        margin: 2% auto;
        padding: 0px;
    }
}