#profileListEventComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0% 0.7% 0% 0%;

        h4 {
            flex: 1;
            font-size: 2rem;
        }

        .icon {
            padding: 2% 4%;
            font-size: 3.2rem;
        }
        .icon:hover {
            cursor: pointer;
        }
    }

    .body {
        flex: 1;
        margin-top: 1%;
        padding: 0% 1% 0% 0%;
        
        max-height: 500px;
        overflow: auto;
        scrollbar-width: thin;

        #profileSingleEventComponent {
            margin-bottom: 2%;
        }
    }
}
.light {
    #profileListEventComponent {
        .head {
            h4 {
                color: var(--graphite08);
            }

            .icon {
                color: var(--graphite06);
            }
            .icon:hover {
                color: var(--graphite);
            }
        }

        .body {
            scrollbar-color: var(--graphite015) rgba(255, 255, 255, 0.06);
        }
    }
}
.dark {
    #profileListEventComponent {
        .head {
            h4 {
                color: var(--light-trans-text);
            }

            .icon {
                color: var(--light-trans-2Shine);
            }
            .icon:hover {
                color: var(--light-trans015);
            }
        }

        .body {
            scrollbar-color: var(--light-text) rgba(255, 255, 255, 0.06);
        }
    }
}