#profileListEventComponent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    .head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0% 0.7% 0% 0%;

        h4 {
            flex: 1;
            font-size: 2rem;
        }

        .router {
            border-radius: 57% 43% 37% 63% / 45% 52% 48% 52%;
            transition: all 0.3s;
            .icon:hover {
                cursor: pointer;
            }
        }
        .router:hover {
            border-radius: 47% 53% 36% 64% / 40% 40% 60% 60%  ;
        }

    }
    .body {
        overflow: auto;
        max-height: 500px;
    }
}
@media screen and (min-width: 1025.1px) {
    .head {
        .router {
            padding: 2% 2%;
            .icon {
                font-size: 2.5rem;
            }
        }
  
    }
}
@media screen and (max-width: 1025px) {
    .head {
        .router {
            padding: 4% 4%;
            .icon {
                font-size: 3rem;
            }
        }
  
    }
}
.light {
    #profileListEventComponent {
        .head {
            background: transparent;
            h4 {
                color: var(--graphite08);
            }
            .router {
                background: transparent;
                                
                box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.1),
                            15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(237, 237, 237, 0.9);
                .icon {
                    color: var(--graphite06);
    
                }
                .icon:hover {
                    color: var(--graphite);
                }
            }
        }

        .body {
            scrollbar-color: var(--graphite015) rgba(255, 255, 255, 0.06);
        }
    }
}
.dark {
    #profileListEventComponent {
        .head {
            background: transparent;
            h4 {
                color: var(--light);
            }
            .router {
                background: transparent;
                
                box-shadow: 
                    5px 5px 10px #0008,
                    10px 6px 15px #0008 inset,
                    -5px -5px 8px #f5f5ff inset,
                    10px 6px 15px #0004 inset;
                .icon {
                    color: var(--light-trans-text);
    
                }
                .icon:hover {
                    color: var(--light);
                    animation: neonGlow 0.5s ease-in-out infinite alternate;
                }
            }
        }

        .body {
            scrollbar-color: var(--light-trans-text) rgba(255, 255, 255, 0.06);
        }
    }
}