#profileUserStatut {
     //border-style: double;
     height: 100%;
    .sub-menu {
        display: flex;
        justify-content: center;
        //border-style: dotted;

        li {
            list-style-type: none;
            padding : 17px;
            font-weight: bold;
        }

        li:hover {
            
            cursor: pointer;
        }

        .active {
              background: rgba(128, 128, 128, 0.15);
    background: rgba(128, 128, 128, 0.15);
    border: 1.5px solid rgba(128, 128, 128, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
    z-index: 2;
    border-radius: 20px;
        }
    }

    .listUser {
        
        //border-style: dotted;
        height: 100%;
    }

   
}