#profileHeaderComponent {

    .middleAvatar {
        //align-items: center;
        //border: 2px solid red;
    }

}
@media screen and (min-width: 1025.1px) {
    #profileHeaderComponent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2% 1% 2% 2%;
    
        .first {
            //border: 2px solid red;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .v-avatar {
                img {
                    width: 100%;
                }
            }
        }
    
        .middle {
            //border: 2px solid red;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0% 5%;
        }
    
        .last {
            //border: 2px solid red;
            width: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 0%;

            .router {
                width: 100%;
                height: 40%;
                padding: 0%;
                .iconHead {
                    width: 100%;
                    height: 100%;
                    font-size: 3.3rem;
                }
            }
            .iconHead {
                width: 100%;
                height: 40%;
                color: var(--graphite06);
                font-size: 2.8rem;
                border-radius: 57% 43% 37% 63% / 45% 52% 48% 52%;
            }
            .iconHead:hover {
                cursor: pointer;
                color: var(--graphite);
                border-radius: 47% 53% 36% 64% / 40% 40% 60% 60%  ;
            }
        }
    }
}
@media screen and (max-width: 1025px) {
    #profileHeaderComponent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2% 1% 2% 2%;
        margin-top: 10%;
    
        .first {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .v-avatar {
                img {
                    width: 100%;
                }
            }
        }
    
        .middle {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0% 5%;
        }
    
        .last {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 0%;

            .router {
                width: 50%;
                height: 40%;
                padding: 0%;
                text-align: left;
                .iconHead {
                    width: 20%;
                    height: 100%;
                    padding: 4% 20%;
                    font-size: 3.3rem;
                }
            }
            .iconHead {
                width: 20%;
                height: 40%;
                padding: 2% 0%;
                color: var(--graphite06);
                font-size: 2.8rem;
                border-radius: 57% 43% 37% 63% / 45% 52% 48% 52%;
            }
            .iconHead:hover {
                cursor: pointer;
                color: var(--graphite);
                border-radius: 47% 53% 36% 64% / 40% 40% 60% 60%  ;
            }
        }
    }
}
.light {
    #profileHeaderComponent {
        .middle {
            h2, p {
                color: var(--graphite08);
            }
        }

        .last {
            .iconHead {
                color: var(--graphite06);
                background: transparent;
                                
                box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.1),
                            15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(237, 237, 237, 0.9);
            }
            .iconHead:hover {
                color: var(--graphite);
            }
        }
    }
}

.dark {
    #profileHeaderComponent {
        .middle {
            h2, p {
                color: var(--light);
            }
        }

        .last {
            .iconHead {
                color: var(--light-trans-text);
                background: transparent;
                
                box-shadow: 5px 5px 10px #0008,
                    10px 6px 15px #0008 inset,
                    -5px -5px 8px #f5f5ff inset,
                    10px 6px 15px #0004 inset;
            }
            .iconHead:hover {
                color: var(--light);
                animation: neonGlow 0.5s ease-in-out infinite alternate;
            }
        }
    }
}