#contactComponent {

    .header {
        text-align: center;
        margin-bottom: 3%;

        h3 {
            margin-bottom: 1%;
        }
        p {
            margin: auto;
            color: black;
        }
    }

    .content {
        display: flex;

        .left {
            flex: 1;

            div {

                .iconContainer {
                    flex: 1;
                    padding-left: 0%;
                    background: transparent;
                    border-radius: 57% 43% 37% 63% / 45% 52% 48% 52%;
                       
                    .icon {
                        font-size: 2rem;
                        border-radius: 50%;
                        padding: 25px;
                    }
                }

                div {
                    flex: 9;
                    p {
                        color: black;
                    }
                }
            }
        }

        .right {
            flex: 1;
            position: relative;

            form {
                width: 100%;
                padding: 1% 5%;
                background: transparent;
                

                h3 {
                    margin-bottom: 2%;
                }
                .v-input {
                    margin-bottom: 2%;
                }

                .btn {
                    width: 50%;
                    margin: auto;
                    padding: 2% 5%;
                    border-radius: 5px;
                }
                
            }
        }
    }
}

.light {
    #contactComponent {
        .header {
            h3{
                color: var(--graphite);
            }
            p {
                color: var(--graphite06);
            }
        }
    
        .content {
            .left {
    
                div {
                    h4 {
                         color: var(--graphite);
                     }
                    .iconContainer {             
                        box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.1),
                                    15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(237, 237, 237, 0.9);
                        .icon {
                            color: var(--graphite06);
                        }
                    }
    
                    div {
                       h4 {
                            color: var(--graphite);
                        }
                        p {
                            color: var(--graphite06);
                        }
                    }
                }
            }

            .right {
                form {

                    h3 {
                        color: var(--graphite);
                    }
    
                    .v-input {
                        margin-bottom: 2%;
                    }
    
                    .btn {
                        //background: linear-gradient(to bottom, var(--graphite015), var(--graphite));
                        //color: #fff;
                    }
                    .btn:hover {
                        //background: linear-gradient(to bottom, var(--graphite015), var(--graphite06));
                    }
                    
                }
            }
        }
    }
}

.dark {
    #contactComponent {
        .header {
            h3{
                color: var(--light-text);
            }
            p {
                color: var(--light-trans-text);
            }
        }
    
        .content {
            .left {
    
                div {
                    h4 {
                         color: var(--light-text);
                     }
                    .iconContainer {
                        box-shadow: 15px 25px 10px #f5f5ff1a,
                            10px 6px 15px #0008 inset,
                            -5px -5px 8px #f5f5ff67 inset,
                            10px 6px 15px #0004 inset;
                        // box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(255, 255, 255, 0.1),
                        //             15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(237, 237, 237, 0.4);
                        .icon {
                            color: var(--light-trans-text);
                        }
                    }
    
                    div {
                       h4 {
                            color: var(--light-text);
                        }
                        p {
                            color: var(--light-trans-text);
                        }
                    }
                }
            }

            .right {
                form {
                    h3 {
                        color: var(--light-text);
                    }
    
                    .v-input {
                        color: var(--light-trans-text);
                    }
    
                    .btn {
                        //background: linear-gradient(to bottom, var(--graphite015), var(--graphite));
                        //color: #fff;
                    }
                    .btn:hover {
                        //background: linear-gradient(to bottom, var(--graphite015), var(--graphite06));
                    }
                    
                }
            }
        }
    }
}
@media screen and (min-width: 1026px){
    #contactComponent {
        padding: 2% 0%;
        width: 75%;
        margin: 0% auto 3% auto;
        .header {
            margin-bottom: 3%;
            p {
                width: 80%;;
            }
        }
        .content {
            .left {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-left: 10%;
    
                div {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
    
                    h4 {
                        display: none;
                    }
                    .iconContainer {
                        padding-left: 0%;
                           
                    }
    
                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding-left: 5%;
                        h4 {
                            display: block;
                        }
                    }
                }
            }
            .right {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-right: 10%;
    
                form {
                    width: 100%;
                    padding: 1% 5%;
                    background: transparent;
                    
    
                    h3 {
                        margin-bottom: 2%;
                    }
                    .v-input {
                        margin-bottom: 2%;
                    }
    
                    .btn {
                        width: 50%;
                        margin: auto;
                        padding: 2% 5%;
                        border-radius: 5px;
                    }
                    
                }
            }
        }
    }
}
@media screen and (max-width: 1025px){
    #contactComponent {
        padding: 2% 0%;
        width: 100%;
        margin: 3% auto 3% auto;
        
        .header {
            margin-bottom: 5%;
            h3 {
                font-size: 1.7rem;
            }
            p {
                width: 90%;
                padding: 0px;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
    
            .left {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding-left: 10%;
    
                h4 {
                    display: block;
                    margin-bottom: 2%;
                }
                div {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    .iconContainer {
                        padding-left: 0%;

                           
                    }
    
                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-left: 0%;

                        h4 {
                            display: none;
                        }
                    }
                }
            }
            .right {
                margin-top: 2%;
                padding-right: 0px;
                form {
                    
                    padding: 1% 0%;
                }
            }
        }
    }

}