#contactComponent {
    padding: 2% 0%;
    width: 75%;
    margin: 0% auto 3% auto;

    .header {
        text-align: center;
        margin-bottom: 3%;

        h3 {
            margin-bottom: 1%;
        }
        p {
            width: 80%;
            margin: auto;
            color: black;
        }
    }

    .content {
        display: flex;

        .left {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 10%;

            div {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;

                .iconContainer {
                    flex: 1;
                    padding-left: 0%;
                    background: transparent;
                    border-radius: 57% 43% 37% 63% / 45% 52% 48% 52%;
                       
                    .icon {
                        font-size: 2rem;
                        border-radius: 50%;
                        padding: 25px;
                    }
                }

                div {
                    flex: 9;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 5%;
                    p {
                        color: black;
                    }
                }
            }
        }

        .right {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 10%;
            position: relative;

            form {
                width: 100%;
                padding: 1% 5%;
                transition: all 0.3s;
                overflow-x: hidden;
                border-radius: 49% 51% 53% 47% / 43% 33% 67% 57% ;
                background: transparent;
                

                h3 {
                    margin-bottom: 2%;
                }
                .v-input {
                    margin-bottom: 2%;
                }

                input[type="button"] {
                    padding: 2% 5%;
                    border-radius: 5px;
                }
                
            }
            form:hover {
                border-radius: 49% 51% 49% 51% / 31% 26% 74% 69% ;
            }
        }
    }
}

.light, .dark {
    #contactComponent {
        .header {
            h3{
                color: var(--graphite);
            }
            p {
                color: var(--graphite06);
            }
        }
    
        .content {
            .left {
    
                div {
                    .iconContainer {             
                        box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.1),
                                    15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(237, 237, 237, 0.9);
                        .icon {
                            color: var(--graphite06);
                        }
                    }
    
                    div {
                       h4 {
                            color: var(--graphite);
                        }
                        p {
                            color: var(--graphite06);
                        }
                    }
                }
            }

            .right {
                form {
                    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.1), 15px 25px 10px rgba(0, 0, 0, 0.1),
                            15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(237, 237, 237, 0.9);     

                    h3 {
                        color: var(--graphite);
                    }
    
                    .v-input {
                        margin-bottom: 2%;
                    }
    
                    input[type="button"] {
                        background: linear-gradient(to bottom, var(--graphite015), var(--graphite));
                        color: #fff;
                    }
                    input[type="button"]:hover {
                        background: linear-gradient(to bottom, var(--graphite015), var(--graphite06));
                    }
                    
                }
            }
        }
    }
}

.dark {
    #contactComponent {
        .header {
            h3{
                color: var(--light-text);
            }
            p {
                color: var(--light-trans-text);
            }
        }
    
        .content {
            .left {
    
                div {
                    .iconContainer {
                        box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(255, 255, 255, 0.1),
                                    15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(237, 237, 237, 0.4);
                        .icon {
                            color: var(--light-trans-text);
                        }
                    }
    
                    div {
                       h4 {
                            color: var(--light-text);
                        }
                        p {
                            color: var(--light-trans-text);
                        }
                    }
                }
            }

            .right {
                form {

                    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.1), 15px 25px 10px rgba(255, 255, 255, 0.1),
                            15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(237, 237, 237, 0.4);  
                    h3 {
                        color: var(--light-text);
                    }
    
                    .v-input {
                        color: var(--light-trans-text);
                    }
    
                    input[type="button"] {
                        background: linear-gradient(to bottom, var(--graphite015), var(--graphite));
                        color: #fff;
                    }
                    input[type="button"]:hover {
                        background: linear-gradient(to bottom, var(--graphite015), var(--graphite06));
                    }
                    
                }
            }
        }
    }
}