#introTextComponent {
    width: 75%;
    margin: auto;

    p {
        font-size: 1.6rem;
        margin: 5% 3%;
    }
}

.light {
    #introTextComponent {
    
        p {
            color: var(--graphite06);
        }
    }
}

.dark {
    #introTextComponent {
    
        p {
            color: var(--light-text);
        }
    }
}