#newEventComponent {

    .swiper {
        // width: 30%;
        // height: 90%;
        // padding: 1% 5%;
      
        .swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 18px;
          font-size: 22px;
          font-weight: bold;
          background-color: rgba(196, 196, 196, 0.1);
          height: 100%;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
          }

        }
    } 
    .contentt {
        flex: 1;
        padding: 2% 2%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .top {
            display: flex;
            width: 100%;
            h2 {
                width: 90%;
                font-size: 2rem;
            }
            .icon {
                width: 10%;
                padding: 5px;
                font-size: 3.1rem;
                background: transparent;
                border-radius: 57% 43% 37% 63% / 45% 52% 48% 52%;
            }
        }
    }
}

.light, .dark {
    #newEventComponent {
        .swiper {
            .swiper-slide {
              color: #fff;
            }
        } 
        .contentt {
            .top {
                h2 {
                    color: var(--graphite); 
                }
                .icon {
                    color: var(--graphite); 
                    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.1),
                                15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(237, 237, 237, 0.9);
                }
                .icon:hover {
                    color: var(--graphite06); 
                }
            }
    
            p {
                color: var(--graphite06);
            }
        }
    }
}

.dark {
    #newEventComponent {
        .swiper {
            .swiper-slide {
              color: #fff;
            }
        } 
        .contentt {
            .top {
                h2 {
                    color: var(--light); 
                }
                .icon {
                    color: var(--light-trans-text); 
                    box-shadow: 15px 25px 10px #f5f5ff44,
                            10px 6px 15px #0008 inset,
                            -5px -5px 8px #f5f5ff67 inset,
                            10px 6px 15px #0004 inset;
                    // box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(255, 255, 255, 0.1),
                    //             15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(237, 237, 237, 0.4);
                }
                .icon:hover {
                    color: var(--light); 
                }
            }
    
            p {
                color: var(--light-text);
            }
        }
    }
}

@media screen and (min-width: 1026px){
    #newEventComponent {
        width: 75%;
        //height: 400px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        .swiper {
            width: 30%;
            height: 90%;
            padding: 1% 5%;
          
            // .swiper-slide {
            //   display: flex;
            //   align-items: center;
            //   justify-content: center;
            //   border-radius: 18px;
            //   font-size: 22px;
            //   font-weight: bold;
            //   background-color: rgba(196, 196, 196, 0.1);
            //   height: 100%;
            //   width: 100%;
            //   img {
            //     height: 100%;
            //     width: 100%;
            //   }
    
            // }
        } 
        .contentt {
            // flex: 1;
            // padding: 2% 2%;
            // height: 90%;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
    
            // .top {
            //     display: flex;
            //     width: 100%;
            //     h2 {
            //         width: 90%;
            //         font-size: 2rem;
            //     }
            //     .icon {
            //         width: 10%;
            //         padding: 5px;
            //         font-size: 3.1rem;
            //         background: transparent;
            //         border-radius: 57% 43% 37% 63% / 45% 52% 48% 52%;
            //     }
            // }
    
            p {
                font-size: 1.5rem;
            }
        }
    }
}
@media screen and (max-width: 1025px){
    #newEventComponent {
        width: 90%;
        //height: 400px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .swiper {
            width: 70%;
            height: 90%;
            padding: 1% 5%;
          
            // .swiper-slide {
            //   display: flex;
            //   align-items: center;
            //   justify-content: center;
            //   border-radius: 18px;
            //   font-size: 22px;
            //   font-weight: bold;
            //   background-color: rgba(196, 196, 196, 0.1);
            //   height: 100%;
            //   width: 100%;
            //   img {
            //     height: 100%;
            //     width: 100%;
            //   }
    
            // }
        } 
        .contentt {
            // flex: 1;
            // padding: 2% 2%;
            // height: 90%;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
    
            // .top {
            //     display: flex;
            //     width: 100%;
            //     h2 {
            //         width: 90%;
            //         font-size: 2rem;
            //     }
            //     .icon {
            //         width: 10%;
            //         padding: 5px;
            //         font-size: 3.1rem;
            //         background: transparent;
            //         border-radius: 57% 43% 37% 63% / 45% 52% 48% 52%;
            //     }
            // }
    
            p {
                font-size: 1rem;
            }
        }
    }
}
