#allEventView {
    padding-top: 6%;

    .eventFilter {
        margin: 0% auto 2% auto;
        width: 75%;
    }
    .upComingEvent{
        margin: auto;
        width: 75%;
    }
    #AllEventComponent {
        margin: auto;
        width: 75%;
        padding-bottom: 2%;
    }
}
.light {
    #allEventView {
        h3 {
            color: var(--graphite);
        }
    }
}
.dark {
    #allEventView {
        h3 {
            color: var(--light-trans-text); 
        }
    }
}
@media screen and (min-width: 1025.1px){
    #allEventView {
        width: 100%;
        //border: 2px solid red;
        .eventFilter {
            margin: 0% auto 2% auto;
            width: 75%;
        }
        h3 {
            font-size: 3rem;
            margin-top: 3%;
        }
        .upComingEvent{
            margin: auto;
            width: 75%;
        }
        #AllEventComponent {
            margin: auto;
            width: 75%;
            padding-bottom: 2%;
        }
    }
}
@media screen and (max-width: 1025px){
    #allEventView {
        width: 100%;
        //border: 2px solid red;
        height: fit-content;
        margin-top: -3%;
        .eventFilter {
            margin: 0% auto 2% auto;
            width: 95%;
        }
        h3 {
            font-size: 3rem;
            margin-top: 6%;
        }
        .upComingEvent{
            margin: 1% auto 0% auto;
            width: 95%;
        }
        #AllEventComponent {
            margin: 5% auto 0% auto;
            width: 98%;
            padding-bottom: 2%;
        }
    }
}
@media screen and (max-width: 600px){
    #allEventView {
        width: 100%;
        //border: 2px solid red;
        height: fit-content;
        margin-top: 1%;
        .eventFilter {
            margin: 0% auto 2% auto;
            width: 95%;
        }
        h3 {
            font-size: 2rem;
            margin-top: 10%;
        }
        .upComingEvent{
            margin: 1% auto 0% auto;
            width: 95%;
        }
        #AllEventComponent {
            margin: 10% auto 0% auto;
            width: 98%;
            padding-bottom: 2%;
        }
    }
}