#allEventView {
    padding-top: 6%;
    
    
    .eventFilter {
        margin: 0% auto 2% auto;
        width: 75%;
    }
    .upComingEvent{
        margin: auto;
        width: 78%;
    }
    #eventFilterComponent{
        margin: auto;
        width: 75%;
    }
    #AllEventComponent {
        margin: auto;
        width: 72%;
        padding-bottom: 2%;
    }
}