#homeView{

    .homeContent {
        width: 100%;

        #introTextComponent {
            //margin-top: 5%;
            padding: 0px;
            padding-bottom: -50%;
        }
        //border: 3px solid rgb(0, 255, 17);
    }
}
.light{
    //background: #ccc;
    background: linear-gradient(to bottom, #efefef 70%, #ccc 85%);
    .homeContent {
        background: linear-gradient(to bottom, #efefef, #ccc);
    }
}

.dark {
    background: linear-gradient(to bottom, #cbcbcb 50%, rgb(29, 30, 24) 85%);
    .homeContent {
        background: linear-gradient(to bottom, #ccc, rgb(29, 30, 24));
    }
}