#login-SignUpComponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    height: 94%;
    
   
    gap : 3%;
   
    #loginComponent {
        width: 30%;
        
    }

    #signUpComponent {
        width: 30%;
    }
}