// Google Fonts Import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Global Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Container Styles
.Conteneur_login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    float: left;
    height: 700px;
    width: 2200px;

    > div {
        margin-left: 360px;
        padding: 20px;
        border: 2px solid #000;
        border-radius: 20px;
    }
}

// Info Box Styles
.info, .info2 {
    border-style: ridge;
}

.info2 {
    width: 200%;
    max-width: 435px;
    background: #fff;
    border-radius: 6px;
    padding: 41px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

    h2 {
        font-size: 20px;
        text-align: center;
    }
}

// Form Styles
.form {
    display: flex;
    flex-direction: column;
}

// Row Styles
.row {
    display: flex;
    justify-content: space-between;

    > div {
        margin-right: 20px;
    }

    label, input {
        margin: 5px;
    }
}

// Login Form Styles
.login_form {
    width: 100%;
    max-width: 435px;
    background: #fff;
    border-radius: 6px;
    padding: 41px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

    h3 {
        font-size: 20px;
        text-align: center;
    }

    .login_option {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .option {
            width: calc(100% / 2 - 12px);

            a {
                height: 56px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 12px;
                background: #F8F8FB;
                border: 1px solid #DADAF2;
                border-radius: 5px;
                margin: 34px 0 24px 0;
                text-decoration: none;
                color: #171645;
                font-weight: 500;
                transition: 0.2s ease;

                &:hover {
                    background: #ededf5;
                    border-color: #626cd6;
                }

                img {
                    max-width: 25px;
                }
            }
        }
    }

    p {
        text-align: center;
        font-weight: 500;
    }

    .separator {
        position: relative;
        margin-bottom: 24px;

        span {
            background: #fff;
            z-index: 1;
            padding: 0 10px;
            position: relative;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            height: 1px;
            background: #C2C2C2;
            display: block;
        }
    }
}

// Input Field Styles
input {
    width: 100%;
    height: 57px;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    outline: none;
    background: #F8F8FB;
    font-size: 17px;
    padding: 0 20px;
    margin-bottom: 25px;
    transition: 0.2s ease;

    &:focus {
        border-color: #626cd6;
    }
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
}

.password_title {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
    }
}

// Login Button Styles
button {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgb(46, 20, 20);
    color: #DADAF2;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 28px;
    transition: 0.3s ease;

    &:hover {
        background: #4954d0;
        color: #DADAF2;
    }
}
