.light {
    #languageSetter {
        box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.1),
            15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(237, 237, 237, 0.9);

        p {
            color: var(--graphite);
        }

        p:hover {
            color: var(--graphite06);
        }
    }

    #languageSetter:before {
        background: var(--light);
    }

    /* Visit https://democoding.in/ for more free css animation */
    #languageSetter:after {
        background: var(--light);
    }
}

.dark {
    #languageSetter {
        box-shadow: 5px 5px 10px #f5f5ff32,
                10px 6px 15px #0008 inset,
                -5px -5px 8px #f5f5ff67 inset,
                10px 6px 15px #0004 inset;
        border: none;
        p {
            color: var(--light);       
            animation: neonGlow 0.5s ease-in-out infinite alternate;
        }

        p:hover {
            color: var(--light015);
        }
    }

    #languageSetter:before {
        background: var(--light075);
    }

    /* Visit https://democoding.in/ for more free css animation */
    #languageSetter:after {
        background: var(--light075);
    }
}